{% extends "base.html" %}
{% block titulo %}INDEX USUARIO{% endblock %}
{% block style %}
<style>
    .p1 {
        margin-top: 20px;
        line-height: 17px;
        padding: 0;
    }

    .p2 {
        margin: 0;
        line-height: 13px;
        padding: 14px 23px;
        background-color: rgba(33, 194, 223, 0.4);
    }

    .p3 {
        margin: 0;
        line-height: 13px;
        padding: 14px 33px;
        background-color: rgba(33, 194, 223, 0.1);
    }

    .mensajes {
        padding: 0;
        border: 1px solid rgba(33, 194, 223, 0.9);
        border-radius: 5px;
    }
</style>
{% endblock %}

{% block contenido %}
{% include "menu.html"%}

<div class="container mt-5">
    <h1>Bienvenid@: {{request.session.usuario.first_name}}</h1>
    <hr>
    <h3>Postear mensaje en el muro</h3>
    <form action="/mensaje/crear" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" id="inputDescription" name='mensaje'>
        </div>
        <button type="submit" class="btn btn-info">Postear mensaje en el muro</button>
    </form>
    <hr>

    <div class="row">
        <div class="col-sm-12 registros">
            <h3>Mensajes posteados</h3>
            {% for m in mensajes reversed%}
            <div class="row mt-1">
                <h4 class="p1 mx-4">{{m.user.first_name}} {{m.user.last_name}} | {{m.created_at | date:"d M Y" }} |
                    Posteó el siguiente mensaje:</h4>
                <div class="container mensajes">
                    <h5 class="p2">Mensaje: {{m.mensaje}}</h5>
                    {% if request.session.usuario.id == m.user.id %}
                    <div class="d-flex justify-content-end my-auto">
                        <a id="borrar" class="btn btn-outline-danger btn-sm mx-4 my-auto"
                            href="/mensaje/{{m.id}}/borrar">Borrar Mensaje</a>
                    </div>
                    {% endif %}

                    <div class="container">
                    <div class="container mt-3">
                        <form action="/mensaje/comentario" method="post">
                            {% csrf_token %}
                            <h5>Comentarios</h5>
                            <div class="mb-1">
                                <input type="text" class="form-control" id="inputDescription" name='comentario'>
                            </div>
                            <input type="hidden" name="id_mensaje_comentario" value="{{m.id}}">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-info btn-sm mb-1 ">Agregar comentario</button>
                            </div>
                        </form>
                    </div>

                    <div class="container">
                        {% for c in m.comentarios.all reversed%}
                        <div class="row">
                            <h4 class="p1 mx-4">{{c.user.first_name}} {{c.user.last_name}} |
                                {{c.created_at | date:"d M Y" }} | Comentó:</h4>
                            <div class="container mensajes">
                                <h5 class="p3">Comentario: {{c.comentario}}</h5>
                            </div>
                            {% if request.session.usuario.id == c.user.id %}
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-secondary btn-sm mt-1" href="/comentario/{{c.id}}/borrar">Borrar
                                    Comentario</a>
                            </div>
                            {% endif %}
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
            </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary mx-auto mt-1" href="/logout">SALIR DEL SISTEMA</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block libreria %}
{% endblock %}

{% block script %}

{% endblock %}